<!--
*   Header Page
*   - This document contains the header of the whole CMS
*
*   Authors: T-RISE (COS 301 team 2015)
             		Antonia Michael (13014171)
                Isabel Nel (13070305)
							  Elana Kuun (12029522)
								Rendani Dau (13381467)
								Semaka Malapane (13081129)
*
-->

<div class="container " data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand" ><span class="glyphicon glyphicon-home"></span> Home</a>
	</div>
	<nav class="collapse navbar-collapse navbar-right" collapse="!isCollapsed" role="navigation">


		<ul class="nav navbar-nav">
			<li >
				<a href="/#!/orders/menu">
					<span>Menu</span>

				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup"><span class="glyphicon glyphicon-pencil"></span>Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}" ng-click="checkSuperUser()">
				<a href="/#!/signin" ><span class="glyphicon glyphicon-lock"></span>Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-user"></span>	<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu" >
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/profileView">View Profile</a>
					</li>
					<li>
						<a href="/#!/settings/profile"> Edit Profile</a>
					</li>
                    <li data-ng-show="authentication.user.roles[0] === 'superuser'">
                        <a href="/#!/settings/assignRoles"> Administrative settings</a>
                    </li>
					<!--Edit, add, or remove menu items-->
                    <li data-ng-show="authentication.user.roles[0] === 'cafeteriaManager'">
                        <a href="/#!/manageInventory"> Manage Cafeteria </a>
                    </li>
					<!--Edit, add, or remove inventory items-->
					<li data-ng-show="authentication.user.roles[0] === 'cafeteriaManager'">
                        <a href="/#!/manageInventory"> Manage Inventory </a>
                    </li>
                    <li data-ng-show="authentication.user.roles[0] === 'cashier'">
                        <a href="/#!/cashier"> Cashier </a>
                    </li>
                    <li data-ng-show="authentication.user.roles[0] === 'finance'">
                        <a href="/#!/finance"> Finance</a>
                    </li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password"> Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
