<!--
*   Home page
*   - This document contains the Home page  of the whole CMS
*
*   Authors: T-RISE (COS 301 team 2015)
             		Antonia Michael (13014171)
                Isabel Nel (13070305)
							  Elana Kuun (12029522)
								Rendani Dau (13381467)
								Semaka Malapane (13081129)
*
-->

<section data-ng-controller="HomeController">

	<!--ALERT BOX FOR HELP-->
			<script type="text/ng-template" id="alert.html">
					<div class="alert" style="background-color:#fa39c3;color:white" role="alert">
						<div ng-transclude></div>
					</div>
			</script>



			<div  data-ng-controller="MenuItemsController">
				<h4>Home<button id="alertUser" type="button" class='btn btn-default' ng-click="helpAlert()" style="float: right;"> ?</button> </h4>
				<hr>
				<alert ng-show="alertUser == true"  type="warning" close="closeAlert($index)">{{alert25.msg}}</alert>
			</div> 
 <!--END ALERT BOX -->




<div style="height: 305px">
 <carousel interval="myInterval" no-wrap="noWrapSlides">
	 <slide ng-repeat="slide in slides" active="slide.active">
		 <img ng-src="{{slide.image}}" style="margin:auto;">
		 <div class="carousel-caption">
			 <h4>Slide {{$index}}</h4>
			 <p>{{slide.text}}</p>
		 </div>
	 </slide>
 </carousel>
</div >



		<!--	</div>
		</div>
		<br>
		<div class="row" data-ng-controller="HeaderController" data-ng-init="loadCanteenInfo()">
			<p class="lead">
				<h2 align="center"><span data-ng-bind="canteenName">{{canteenName}}</span></h2>
			</p>
		</div>-->

</section>
