<section class="row" data-ng-controller="MenuItemsController">

	<h3>Manage Cafeteria</h3>
  <hr>
	
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
			<!--<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">-->
			<form>
				<!--Search for a menu item-->
				<h4>Search an item</h4>
				<div class = "form-group">
					<input type="text" id="menuItemNameSearch" name ="menuItemNameSearch" class = "form-control" data-ng-model="menuItem.itemNameSearch" placeholder="Item Name">
				</div>

				<div class = "text-center form-group">
					<button type = "submit" class = "btn btn-large btn-primary" ng-submit="menuItem.findOne()" >Search</button>
				</div>

				<!--Error/Success message-->
				<div data-ng-show="success" class="text-center text-success">
					<strong>Action completed successfully.</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<br>
			</form>
				<!--Add a menu item-->
				<h4>Add an item</h4>
				<form name="addMenuItemForm" data-ng-submit="createMenuItem(addMenuItemForm.$valid)" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<label for="itemName">Item Name</label>
							<input type="text" id="menuItemAdd" name="menuItemAdd" class="form-control" data-ng-model="menuItem.itemNameAdd" placeholder="Item Name">
						</div>

						<div class="form-group">
							<label for="quantity">Description</label>
							<input type="text" min = 0 id="itemDescription" name="itemDescription" class="form-control" data-ng-model="menuItem.itemDescription" placeholder="Description">
						</div>

						<div class="form-group">
							<label for="unit">Price</label>
							<input type="number" min = 0 id="itemPrice" name="itemPrice" class="form-control" data-ng-model="menuItem.itemPrice" placeholder="Price">
						</div>

						<div class="text-center form-group">
							<button type="submit" class="btn btn-large btn-primary">Add</button>
						</div>

						<!--Error/Success message-->
						<div data-ng-show="success" class="text-center text-success">
							<strong>Action completed successfully.</strong>
						</div>
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>

			</div>
		</div>
	</div>

    <!--<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">

		<br>
		<form name="manageInventoryForm" data-ng-submit="menuItem.manageInventory()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div class="form-group"><h4>Manage Inventory</h4>
					<div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">Save</button>
                </div>

				<div data-ng-show="success" class="text-center text-success">
                    <strong>Action completed successfully.</strong>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
                    <h4>

                        <label>
                            <input type="number" class="form-control" min = 0> Cheese
                        </label> <br><br>
                          <label>
                            <input type="number" class="form-control" min = 0> Cheese
                        </label> <br><br>
                          <label>
                            <input type="number" class="form-control" min = 0> Cheese
                        </label> <br><br>
                          <label>
                            <input type="number" class="form-control" min = 0> Cheese
                        </label> <br><br>
                          <label>
                            <input type="number" class="form-control" min = 0> Cheese
                        </label> <br><br>
                    </h4>
                </div>
            </fieldset>
			</form>
        </div>
</div>
</div>-->

</section>
