<section data-ng-controller="MenuItemsController" data-ng-init="find()">

        <h3>Menu</h3>
        <hr>

      <!-- Display all the meals -->
      <!-- nav- breadcrum for menu page-->
      <ol class="breadcrumb">
        <li class="active">All Menu Items</li>
        <li><a href="/#!/menu/toastedSandwiches">Toasted Sandwiches</a></li>
        <li><a href="/#!/menu/tramazini">Tramezzinis</a></li>
        <li><a href="/#!/menu/burgerBar">Burger Bar</a></li>
        <li><a href="/#!/menu/dailyLunch">Daily Lunches</a></li>
        <li><a href="/#!/menu/saladBar">Salad Bar</a></li>
        <li><a href="/#!/menu/sweetTreats">Sweet Treats</a></li>
        <li><a href="/#!/menu/resaleItems">Resale Items</a></li>
        <li><a href="/#!/menu/onTheSide">On The Side</a></li>
        <li><a href="/#!/menu/extra">Extra's</a></li>
      </ol>

      <!-- Display Toasted Sandwiches -->
        <div class="list-group clearfix">
      		<a href="#" class="list-group-item disabled">
      		 <h4> Toasted Sandwiches </h4>
      	 </a>

       <div class="list-group-item clearfix" ng-repeat="item in menuItems | filter:toastedSandwiches"><h3>{{item.itemName}}  <span style="float:right;" > R {{item.price}}</span> </h3> <br> <h5> {{item.description}}
            <form>
              <input type="checkbox" name={{item.itemName}}  value={{item.itemName}} >
            </form>
        </h5>
      </div>
      </div>

     <!-- Display Tramezzinis -->
     <div class="list-group clearfix">
       <a href="#" class="list-group-item disabled">
        <h4>Tramezzinis</h4>
      </a>

    <div class="list-group-item clearfix" ng-repeat="item in menuItems | filter:tramizini"><h3>{{item.itemName}}  <span style="float:right;" > R {{item.price}}</span> </h3> <br> <h5> {{item.description}}
         <form>
           <input type="checkbox" name={{item.itemName}}  value={{item.itemName}} >
         </form>
     </h5>
   </div>
   </div>


  <!-- Display Burger Bar -->
  <div class="list-group clearfix">
    <a href="#" class="list-group-item disabled">
     <h4>Burger Bar</h4>
   </a>

 <div class="list-group-item clearfix" ng-repeat="item in menuItems | filter:burgerBar"><h3>{{item.itemName}}  <span style="float:right;" > R {{item.price}}</span> </h3> <br> <h5> {{item.description}}
      <form>
        <input type="checkbox" name={{item.itemName}}  value={{item.itemName}} >
      </form>
  </h5>
 </div>
 </div>

 <!-- Display Daily Lunches -->
 <div class="list-group clearfix">
   <a href="#" class="list-group-item disabled">
    <h4>Daily Lunches</h4>
  </a>


<div class="list-group-item clearfix" ng-repeat="item in menuItems | filter:dailyLunch"><h3>{{item.itemName}}  <span style="float:right;" > R {{item.price}}</span> </h3> <br> <h5> {{item.description}}
     <form>
       <input type="checkbox" name={{item.itemName}}  value={{item.itemName}} >
     </form>
 </h5>
</div>
</div>

<!-- Display Salad Bar -->
<div class="list-group clearfix">
  <a href="#" class="list-group-item disabled">
   <h4>Salad Bar</h4>
 </a>


<div class="list-group-item clearfix" ng-repeat="item in menuItems | filter:salidBar"><h3>{{item.itemName}}  <span style="float:right;" > R {{item.price}}</span> </h3> <br> <h5> {{item.description}}
    <form>
      <input type="checkbox" name={{item.itemName}}  value={{item.itemName}} >
    </form>
</h5>
</div>
</div>

<!-- Display Sweet Treats -->
<div class="list-group clearfix">
  <a href="#" class="list-group-item disabled">
   <h4>Sweet Treats</h4>
 </a>


<div class="list-group-item clearfix" ng-repeat="item in menuItems | filter:sweetTreat"><h3>{{item.itemName}}  <span style="float:right;" > R {{item.price}}</span> </h3> <br> <h5> {{item.description}}
    <form>
      <input type="checkbox" name={{item.itemName}}  value={{item.itemName}} >
    </form>
</h5>
</div>
</div>

<!-- Display Resale Items -->
<div class="list-group clearfix">
  <a href="#" class="list-group-item disabled">
   <h4>Resale Items</h4>
 </a>


<div class="list-group-item clearfix" ng-repeat="item in menuItems | filter:resaleItem"><h3>{{item.itemName}}  <span style="float:right;" > R {{item.price}}</span> </h3> <br> <h5> {{item.description}}
    <form>
      <input type="checkbox" name={{item.itemName}}  value={{item.itemName}} >
    </form>
</h5>
</div>
</div>

<!-- Display  On The Side -->
<div class="list-group clearfix">
  <a href="#" class="list-group-item disabled">
   <h4>On The Side</h4>
 </a>


<div class="list-group-item clearfix" ng-repeat="item in menuItems | filter:onSide"><h3>{{item.itemName}}  <span style="float:right;" > R {{item.price}}</span> </h3> <br> <h5> {{item.description}}
    <form>
      <input type="checkbox" name={{item.itemName}}  value={{item.itemName}} >
    </form>
</h5>
</div>
</div>

<!-- Display  Extra's -->
<div class="list-group clearfix">
  <a href="#" class="list-group-item disabled">
   <h4>Extra's</h4>
 </a>


<div class="list-group-item clearfix" ng-repeat="item in menuItems | filter:extra"><h3>{{item.itemName}}  <span style="float:right;" > R {{item.price}}</span> </h3> <br> <h5> {{item.description}}
    <form>
      <input type="checkbox" name={{item.itemName}}  value={{item.itemName}} >
    </form>
</h5>
</div>
</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
		<h4>Search for a menu item</h4>
				<div class="form-group">
					<input type="text" class="form-control" class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2" id="itemName" name="itemName" class="form-control"  placeholder=Item>
				</div>
				<div class="text-center form-group">
					<button type="submit" ng-submit="" class="btn btn-large btn-primary">Search</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Found item.</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
		</div>
	</div>

	<!-- Show all the items on the menu list, description, and price-->
			<form name="chooseOrderForm" data-ng-submit="" class="signin form-horizontal" autocomplete="off" data-ng-init="loadMenuItems()">
				<div data-ng-repeat="order in orders" data-ng-href="#!/orders/{{order._id}}" class="list-group-item">
					<h4 class="list-group-item-heading" data-ng-bind="order.name"> </h4>
					<input type = "checkbox">
					<input type="number" min = 0>
				</div>
					<br>
				<div class="text-center form-group">
					<button type="submit" class="btn">Add to plate</button>
				</div>

				<!--Success/error message-->
				<div data-ng-show="success" class="text-center text-success">
					<strong>Action completed successfully.</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

	</form>

	<!--Search for a menu product-->
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<h4>Search for a menu item</h4>
					<div class="form-group">
						<input type="text" data-ng-model="menuItem.searchItemName" class="form-control" class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2" id="itemName" name="itemName" class="form-control"  placeholder="Item name">
					</div>
					<div class="text-center form-group">
						<button ng-submit="" class="btn btn-large btn-primary">Search</button>
					</div>

					<!--Success/Error message-->
					<div data-ng-show="success" class="text-center text-success">
						<strong>Found item.</strong>
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
			</div>
		</div>
</section>