<section data-ng-controller="MenuItemsController" >

        <h3>Menu / Daily Lunches</h3>
        <hr>

      <!-- Display all the meals -->
      <!-- nav- breadcrum for menu page-->
      <ol class="breadcrumb">
        <li><a  href="/#!/menu">All Menu Items</a></li>
        <li><a href="/#!/menu/toastedSandwiches">Toasted Sandwiches</a></li>
        <li><a href="/#!/menu/tramezzinis">Tramezzinis</a></li>
        <li><a href="/#!/menu/burgerBar">Burger Bar</a></li>
        <li class="active">Daily Lunches</li>
        <li><a href="/#!/menu/saladBar">Salad Bar</a></li>
        <li><a href="/#!/menu/sweetTreats">Sweet Treats</a></li>
        <li><a href="/#!/menu/resaleItems">Resale Items</a></li>
        <li><a href="/#!/menu/onTheSide">On The Side</a></li>
        <li><a href="/#!/menu/extra">Extra's</a></li>
        <li><a href="/#!/menu/drinks">Drinks</a></li>

      </ol>

    <!--Search for a menu product-->
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <h3> Search Item </h3>
            <form name="searchMenuForm" data-ng-submit="searchMenu(searchMenuForm.$valid)" class="signin form-horizontal" autocomplete="off">
                <div class = "form-group">
                    <input type="text" id="menuNameSearch" name ="menuNameSearch" class = "form-control" data-ng-model="menuNameSearch" placeholder="Meal Name">
                </div>
                <!--<div class = "text-center form-group">
                    <button type = "submit" class = "btn btn-large btn-primary">&lt;!&ndash;ng-submit="inventory.findOne()"&ndash;&gt; Search</button>
                </div>-->

            </form><!--
            &lt;!&ndash;Success/Error message&ndash;&gt;
            <div data-ng-show="successOne" class="text-center text-success">
                <strong data-ng-bind="successOne">{{successOne}}</strong>
            </div>
            <div data-ng-show="errorOne" class="text-center text-danger">
                <strong data-ng-bind="errorOne">{{errorOne}}</strong>
            </div>-->
        </div>
    </div>

    <!-- NEW DIV for SEARCH-->
    <div class="list-group clearfix" ng-show ="menuNameSearch" ng-keypress = "(menuNameSearch !== null )">
        <a href="#" class="list-group-item disabled">
            <h4> <b>Search Results:</b>  </h4>
        </a>
        <div class="list-group-item clearfix" ng-repeat="item in menuItems | filter:searchDailyBar"><h3>
            <span data-ng-show="item.stock"><input type="checkbox" name='itemOption'  value='{{item.itemName}}' > </span>
            {{item.itemName}}  <span style="float:right;" > R {{item.price}}</span> </h3> <br> <h5> {{item.description}} </h5>
        </div>
    </div>

      <!-- Display Daily Lunches -->
      <div class="list-group clearfix">
        <a href="#" class="list-group-item disabled">
         <h4>Daily Lunches</h4>
       </a>


     <div class="list-group-item clearfix" ng-repeat="item in menuItems | filter:dailyLunch"><h3>
         <span data-ng-show="item.stock"><input type="checkbox" name='itemOption'  value='{{item.itemName}}' > </span>
         {{item.itemName}}  <span style="float:right;" > R {{item.price}}</span> </h3> <br> <h5> {{item.description}}
          <form>
            <span data-ng-show="item.stock === 'Not in stock'" style="color:red"><h3> {{item.stock}} </h3></span>
          </form>
      </h5>
     </div>
     </div>
</div>
	<!-- Show all the items on the menu list, description, and price-->
			<form name="chooseOrderForm" data-ng-submit="addToPlate()" class="signin form-horizontal" autocomplete="off" data-ng-init="loadMenuItems()">
				<div data-ng-repeat="order in orders" data-ng-href="#!/orders/{{order._id}}" class="list-group-item">
					<h4 class="list-group-item-heading" data-ng-bind="order.name"> </h4>
					<input type = "checkbox">
					<input type="number" min = 0>
				</div>
					<br>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary" onclick="location.reload(true)">Add to plate</button>
				</div>

				<!--Success/error message-->
				<div data-ng-show="success" class="text-center text-success">
					<strong>Action completed successfully.</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

	</form>
</section>
