
<section data-ng-controller="MenuItemsController" data-ng-init="loadMenuItems()">

    <!--ALERT BOX FOR HELP-->
        <script type="text/ng-template" id="alert.html">
            <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
              <div ng-transclude></div>
            </div>
        </script>

        <div  data-ng-controller="MenuItemsController">
          <h4>Menu<button id="alertUser" type="button" class='btn btn-default' ng-click="helpAlert()" style="float: right;"> ?</button> </h4>
          <hr>
          <alert ng-show="alertUser == true"  type="warning" close="closeAlert($index)">{{alerts[0].msg}}</alert>
        </div>
   <!--END ALERT BOX -->

  <!-- Menu nav -->
  <div class="container " data-ng-controller="HeaderController">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
    		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
    			<span class="sr-only">Toggle navigation</span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    		</button>

      	<a href="/#!/menu"  class="navbar-brand" ><span class="glyphicon glyphicon-apple"></span> Menu</a>
      	</div>
        <!--loadMenuCategories()-->
        <div id="navbar" class="collapse navbar-collapse navbar-right" ng-init="loadMenuCategories()"collapse="!isCollapsed" role="navigation">
          <ul class="nav navbar-nav">
            <li ng-repeat="item in menuCatagory"><a  ng-click="filterCat(item.name)"href="">{{item.name}}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
  </div>

    <!--Search for a menu product-->
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <h4> Search Item </h4>
                    <form name="searchMenuForm" data-ng-submit="searchMenu(searchMenuForm.$valid)" class="signin form-horizontal" autocomplete="off">
                        <div class = "form-group">
                            <input type="text" id="menuNameSearch" name ="menuNameSearch" class = "form-control" data-ng-model="menuNameSearch" placeholder="Meal Name">
                        </div>

                    </form>
        </div>
    </div>

    <!-- NEW DIV for SEARCH-->
    <div class="list-group clearfix" ng-show ="menuNameSearch" ng-keypress = "(menuNameSearch !== null )">
        <a href="#" class="list-group-item disabled">
            <h4> <b>Search Results:</b>  </h4>
        </a>
        <div class="list-group-item clearfix" ng-repeat="item in menuItems | filter:searchBar"><h3>
            {{item.itemName}}  <span style="float:right;" > R {{item.price}} <button type="button" class="btn btn-primary" data-ng-show="item.stock" data-ng-click="addToPlate(item.itemName)"> Add to plate </button></span> </h3> <br> <h5> {{item.description}} </h5>

		</div>
    </div>


  <!-- DYNAMIC filter: -->
  <div class="list-group clearfix"  ng-repeat="cat in menuCatagory">

      <a href="#/" class="list-group-item heading"><h4> {{cat.name}}</h4></a>
      <div class="list-group-item clearfix" ng-repeat ="item in menuItems"  ng-show="cat.name === item.category[0]"><h3>
          {{item.itemName}}  <span style="float:right;" > R {{item.price}} <button type="button" class="btn btn-primary" data-ng-show="item.stock" data-ng-click="addToPlate(item.itemName)"> Add to plate </button></span>  </h3> <br> <h5> {{item.description}}
          <form>
              <span data-ng-show="!item.stock" style="color:red"><h3>Not in stock </h3></span>
          </form></h5>
          <button type="button" class="btn btn-primary" data-ng-click="addImage()"> image </button>
          <span ng-hide="custom">
          	<img alt="image" class="img-responsive text-center" src={{item.imagePath}} />
          </span>
      </div>

  </div>
</section>
