<section data-ng-controller="OrdersController" >

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/drilldown.js"></script>

				<!--Alert box -->
				<script type="text/ng-template" id="alert.html">
						<div class="alert" style="background-color:#fa39c3;color:white" role="alert">
							<div ng-transclude></div>
						</div>
				</script>

				<div  data-ng-controller="MenuItemsController">
					<h4>Menu Item Statatistics <button id="alertUser" type="button" class='btn btn-default' ng-click="helpAlert()" style="float: right;"> ?</button></h4><hr>
					<alert ng-show="alertUser == true"  type="warning" close="closeAlert($index)">{{alert42.msg}}</alert>
				</div>

        <!-- END ALERT BOX-->


      <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


</section>
