<section data-ng-controller="OrdersController" >
				<!--Alert box -->
				<script type="text/ng-template" id="alert.html">
						<div class="alert" style="background-color:#fa39c3;color:white" role="alert">
							<div ng-transclude></div>
						</div>
				</script>

				<div  data-ng-controller="MenuItemsController">
					<h4>On My plate <button id="alertUser" type="button" class='btn btn-default' ng-click="helpAlert()" style="float: right;"> ?</button></h4><hr>
					<alert ng-show="alertUser == true"  type="warning" close="closeAlert($index)">{{alerts[9].msg}}</alert>
				</div>


		<a href="#" class="list-group-item disabled">Review and confirm your order</a>
		<div class="list-group-item clearfix">
			<div class="list-group-item clearfix" ng-repeat="item in plate">
				<h4><b><p class ="text-warning">{{item.itemName}} : R {{item.price}} </p> </b></h4>
                    <span style="float:right;" >
        <button type="button" class="btn btn-primary" data-ng-click="removeFromPlate(item.itemName)"> Remove </button> </span>

                <p> Quantity <input type='number' data-ng-model='item.quantity' data-ng-change='quantityChange(item.itemName)' name='{{item.itemName}}' min=1 max=5 /></p>


                <p> Preferences
                    <textarea type="text" id="preferences" name="preferences" class="form-control" data-ng-model="item.preferences" data-ng-change="prefChange()" placeholder="type order preferences here..."></textarea>
                </p>
			</div>
			<div>
				<h4></h3><span style="float: right">Total: {{orderTotal}} </span></h4>
			</div>
			<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2"  data-ng-controller="MenuItemsController">
				<!--p> Placed order </p> <input class = "form-control" type = number min = 0> <input type = "checkbox" checked = true-->
                <div class="text-center form-group">
				<button class = "btn btn-large btn-primary" data-ng-click='placeOrder()'> Place order </button>
			</div>

			<div data-ng-show="success" class="text-center text-success">
				<strong>{{success}}</strong>
			</div>
			<div data-ng-show="error" class="text-center text-danger">
				<strong data-ng-bind="error">{{error}}</strong>
			</div>
		</div>
	</div>






</section>
