<!DOCTYPE html>
<!--
*   Home Page
*   - This is the home page of the Cafeteria Management System.
*
*   Authors: T-RISE (COS 301 team 2015)
                Antonia Michael (13014171)
                Isabel Nel (13070305)
		Elana Kuun (12029522)
				Rendani Dau (13381467)
*
-->
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- linking bootstrap -->
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

  <!-- Adding Angular to our project -->
  <script src="/angular/angular.min.js"></script>
  <script type="text/javascript" src="./javascripts/main-controller.js"></script>




</head>
<body ng-controller='main-controller' ng-app='main'>

<!-- Heading -->
<br> <br> <br>
<div class="container">
  <div class="jumbotron">
    <h1>Branding goes here....</h1>
  </div>
 </div>
<!-- Heading ended -->

<!-- Navigation bar -->
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">

        <li>
          <a href="#" >  <span class="glyphicon glyphicon-lock"></span> Login</a>
        </li>
				<li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span> Profile <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="#">Action</a></li>
	          <li><a href="#">Another action</a></li>
	          <li><a href="#">Something else here</a></li>
	          <li><a href="#">Separated link</a></li>
	          <li><a href="#">One more separated link </a></li>

	        </ul>
	      </li>
        <li>
          <a href="#"> <span class="glyphicon glyphicon-cutlery"></span> Menu </a>
        </li>

      </ul>
    </nav>
    <!-- testing dynamic binding hahaha
    <input ng-model="name"></input>
    <input ng-model="name"></input>
    {{name}}-->
  </div>
</header>
<!-- Navigation bar ended -->

</body>
</html>
