<!--
***Reset password***
   - This document contains the information that will allow a user to change his or her password
	 - this page will display if the password change was susessfull

  Authors: T-RISE (COS 301 team 2015)
             		Antonia Michael (13014171)
                Isabel Nel (13070305)
							  Elana Kuun (12029522)
								Rendani Dau (13381467)
								Semaka Malapane (13081129) -->

<!-- This section is mainly controlled by the password controller in client side, unless indicated otherwise-->
<section class="row" data-ng-controller="PasswordController">

	<h4> Forgot Password</h4>
  <hr>

<section class="row text-center">
	<h4 class="col-md-12">Password successfully reset</h4>
	<a href="/#!/" class="col-md-12">Continue to home page</a>
</section>
