<!--
*   Assign Roles - Superuser
*   - This document contains the Assign roles functionality that is only accessable by the superUser
*
*   Authors: T-RISE (COS 301 team 2015)
             		Antonia Michael (13014171)
                Isabel Nel (13070305)
							  Elana Kuun (12029522)
								Rendani Dau (13381467)
								Semaka Malapane (13081129)
*
-->
<section class="row" data-ng-controller="superuserController">
    <h3> Administrative settings </h3>
    <hr>
    <div class="list-group clearfix">
        <a href="#" class="list-group-item disabled">
            Admin settings
        </a>


        <!--Display assign roles section -->
        <div data-ng-controller="HeaderController">

        <!-- Display set limit section  -->
        <div class="list-group-item clearfix">
            <h3> Set system wide limit </h3>

            <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
                <form name="setLimitForm" data-ng-submit="setSystemWideLimit(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
                    <fieldset>
                        <div class="form-group">
                            <label for="limit">Set System wide limit</label>
                            <input type="number" id="limit" name="limit" data-ng-model="limit" class="form-control" min = 0>
                        </div>
                        <div class="text-center form-group">
                            <button type="submit" class="btn btn-large btn-primary">Set Limit</button>
                        </div>
                        <div data-ng-show="successTwo" class="text-center text-success">
                            <strong>{{successTwo}}</strong>
                        </div>
                        <div data-ng-show="errorTwo" class="text-center text-danger">
                            <strong data-ng-bind="errorTwo">{{errorTwo}}</strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="list-group clearfix">
        <a href="#" class="list-group-item disabled">
            Branding settings
        </a>
        <!-- set canteen name -->
        <div class="list-group-item clearfix">
            <h3>Set canteen name </h3>

            <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
                <form name="setCanteenNameForm" data-ng-submit="setCanteenName(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
                    <fieldset>
                        <div class="form-group">
                            <label for="limit">Set Canteen name</label>
                            <input type="text" id="canteenName" name="canteenName" data-ng-model="canteenName" class="form-control" min = 0>
                        </div>
                        <div class="text-center form-group">
                            <button type="submit" class="btn btn-large btn-primary" onclick= "location.reload(true)">Set Canteen Name</button>
                        </div>
                        <div data-ng-show="successThree" class="text-center text-success">
                            <strong>{{successThree}}</strong>
                        </div>
                        <div data-ng-show="errorThree" class="text-center text-danger">
                            <strong data-ng-bind="errorThree">{{errorThree}}</strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- upload branding image -->
        <div class="list-group-item clearfix">
            <h3>Upload image for branding  </h3>

            <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
                <form name="uploadImageForm" action="/users/superuserUploadImage" enctype="multipart/form-data" method="post" class="signin form-horizontal" autocomplete="off">
                    <fieldset>
                        <input type="file" id="upload" name="upload" data-ng-model="upload" class="form-control"/>
                        <div class="text-center form-group"><br>
                            <button type="submit" class="btn btn-large btn-primary">Upload Image</button>
                        </div>
                    </fieldset>
                    <div data-ng-show="successFour" class="text-center text-success">
                        <strong>{{successFour}}</strong>
                    </div>
                    <div data-ng-show="errorFour" class="text-center text-danger">
                        <strong data-ng-bind="errorFour">{{errorFour}}</strong>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
