<!--
*   profile Page - casher
*   - This document contains the profile page the whole CMS
*
*   Authors: T-RISE (COS 301 team 2015)
             		Antonia Michael (13014171)
                Isabel Nel (13070305)
							  Elana Kuun (12029522)
								Rendani Dau (13381467)
								Semaka Malapane (13081129)
*
-->

<section class="row" data-ng-controller="SettingsController">

	<h3> Process Orders </h3>
	<hr>

<br><br>
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				<h1> Process Orders </h1>
			</p>
    </div>
        <form name="userForm" data-ng-submit="viewUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="employeeID" >Employee Id</label><br>
                    <input type="text" class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2" id="employeeID" name="employeeID" class="form-control" data-ng-model="user.employeeID" placeholder=EmployeeID>
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">Display Orders</button>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <strong>PERSONS' ORDERS DISPLAYED HERE:</strong>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
        <div>
            <fieldset>
                <div class="floatLeft checkbox"><h3><b>Mark Orders as ready</b></h3>
                    <h4>
                        <label>
                            <input type="checkbox" class="floatLeft"> 123452 - MOCK SANDWICH
                        </label> <br><br>
                        <label>
                            <input type="checkbox" class="floatLeft"> 130142 - MOCK COKE
                        </label> <br><br>
                        <label>
                            <input type="checkbox" class="floatLeft"> 120222 - MOCK COKE
                        </label> <br><br>
                        <label>
                            <input type="checkbox" class="floatLeft"> 123122 - MOCK COKE
                        </label> <br><br>
                        <label>
                            <input type="checkbox" class="floatLeft"> 123132 - MOCK COKE
                        </label> <br><br>
                    </h4>
                </div>
            </fieldset>
        </div>


</section>
