<!--
*   profile Page - cashier
*   - This document contains the profile page the whole CMS
*
*   Authors: T-RISE (COS 301 team 2015)
    Antonia Michael (13014171)
    Isabel Nel (13070305)
    Elana Kuun (12029522)
    Rendani Dau (13381467)
    Semaka Malapane (13081129)
*
-->

<section  class="row" data-ng-controller="cashierController" 
         xmlns="http://www.w3.org/1999/html">

	<h4> Process Orders </h4>
	<hr>

    </div>


    <h4>Placed Orders:</h4>
	<div data-ng-init="getOrders(); checkUser()" >
		<div class="list-group-item clearfix " ng-repeat="order in orderNums track by $index">
			<b>   <div class="text-center ">
				<span  class="text-success ">Order number: {{order.orderNumber}}</span>  
			</b>
			<p > Employee ID: {{order.username}} </p> </div>
			<div class="list-group-item clearfix" ng-repeat="item in order.items"> 
				<h4><b><p class="text-warning">{{item.itemName}} : R{{item.price}}</p></b></h4>
				  Quantity: {{item.quantity}}  <br>
				  Preferences: {{item.preferences}} 
			</div>
		 <div class="text-center ">
			<div> Payment method: 
				<input type="radio" data-ng-model="order.paymentMethod" value="cash"> Cash</input>
				<input type="radio" data-ng-model="order.paymentMethod" value="credit"> Credit</input>
				</div>
			<!--button style="width:200px" type="button" class="btn btn-primary" data-ng-click="markAsCollected(order.username)"> Order collected </button> </span-->
			<button style="width:200px" type="button" class="btn btn-primary" data-ng-click="markAsPaid(order)"> Employee paid  </button></span>
			<!--button style="width:200px" type="button" class="btn btn-success" data-ng-click="ready(order.username,order.orderNumber,order.created)" data-ng-hide="(order.status === 'ready')"> Order Ready </button-->
			<button style="width:200px" type="button" class="btn btn-success" data-ng-click="markAsReady(order.username,order.orderNumber,order.created)" data-ng-hide="(order.status === 'ready')"> Order Ready </button>
			</div>
		</div>
	</div>
	
	<span style="float:right;" >
            </span>
			
	<div data-ng-show="success" class="text-center text-success">
		<strong>{{success}}</strong>
	</div>
	<div data-ng-show="error" class="text-center text-danger">
		<strong data-ng-bind="error">{{error}}</strong>
	</div>


</section>
