<!--
*   profile Page - casher
*   - This document contains the profile page the whole CMS
*
*   Authors: T-RISE (COS 301 team 2015)
             		Antonia Michael (13014171)
                Isabel Nel (13070305)
							  Elana Kuun (12029522)
								Rendani Dau (13381467)
								Semaka Malapane (13081129)
*
-->

<section ng-init="checkUser()" class="row" data-ng-controller="cashierController" data-ng-init="getOrders()">

	<h4> Process Orders </h4>
	<hr>

    </div>


    <h4>Placed Orders:</h4>
    <div class="list-group-item clearfix" ng-repeat="order in orders"><h4>
       <b> 
	   <span class="text-warning">Order number: {{order.orderNumber}} </span>
	    </b> </h4>
        <span style="float:right;" >
        <button style="width:200px" type="button" class="btn btn-primary" data-ng-click="markAsCollected(order.username,order.itemName,order.orderNumber)"> Order collected </button> </span>

       <h4><b><p class="text-warning">{{order.itemName}} : R{{order.price}}</p></b></h4>
        <p> Quantity: {{order.quantity}}  </p><span style="float:right;" >
            <button style="width:200px" type="button" class="btn btn-primary" data-ng-click="markAsPaid(order.username,order.itemName,order.orderNumber)"> Employee paid  </button></span>
        <p > Employee ID: {{order.username}} </p>
        <p> Preferences: {{order.preferences}}

    </div>
    </div>



</section>
