
<!--
*   profile Page - Finance -- should be able to view monthly bill
*   - This document contains the profile page the whole CMS
*
*   Authors: T-RISE (COS 301 team 2015)
             		Antonia Michael (13014171)
                Isabel Nel (13070305)
							  Elana Kuun (12029522)
								Rendani Dau (13381467)
								Semaka Malapane (13081129)
*
-->

<section ng-init="checkFinUser()" class="row" data-ng-controller="SettingsController">

	<h4> View Employee Bills </h4>
	<hr>
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">

        <form name="userForm" data-ng-submit="searchEmployee(userForm.$valid)" class="signin form-horizontal" autocomplete="on">
            <fieldset>

                <div class="form-group">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <label for="username">Employee Id</label>
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="username"  placeholder=EmployeeID>
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary" >Display Bill</button>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <strong data-ng-bind="success"></strong>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

            </fieldset>
        </form>
    </div>
</section>
