<!--
*   profile Page
*   - This document contains the profile page the whole CMS
*
*   Authors: T-RISE (COS 301 team 2015)
             		Antonia Michael (13014171)
                Isabel Nel (13070305)
							  Elana Kuun (12029522)
								Rendani Dau (13381467)
								Semaka Malapane (13081129)
*
-->

<section class="row" data-ng-controller="SettingsController">

	<h3> Profile </h3>
	<hr>
	


<!-- Displaying the user information -->
<div class="list-group" data-ng-controller="HeaderController">
	<a href="#" class="list-group-item disabled">
    Profile Information
  </a>
	<!-- First name and Last name -->
	<div class="list-group-item">
  <h3 align="left"> <span data-ng-bind="authentication.user.displayName"></span> </h3> <br>
</div>
	<!-- user name -->
	<div class="list-group-item">
	<h3> Employee ID: </h3> <h4 align="left"> <span data-ng-bind="authentication.user.username"></span> </h4><br>
	</div>
	<!-- e-mail adderss: -->
	<div class="list-group-item">
	<h3> E-mail address: </h3> <h4 align="left"> <span data-ng-bind="authentication.user.displayEmail"></span> </h4><br>
  </div>
	<!-- monthly bill e-mail adderss: -->
	<div class="list-group-item">
	<h3> Monthly bill will go to: </h3> <h4 align="left"> <span data-ng-bind="authentication.user.displayRecipientEmailOption"></span> </h4><br>
	</div>
	<!-- Limit: -->
	<div class="list-group-item">
	<h3> Limit per month: </h3> <h4 align="left"> R <span data-ng-bind="authentication.user.limit"></span> </h4><br>
	</div>

	<!-- Profile type: -->
		<!-- The type will only show on a specific role thet is assigned to the user
				- The purpose of the type is to help the super user when they need to remove a certain username with a certain role
				  in future functionality this could be usefull - if deemed unusefull we can  easily remove it without effecting
					the functionality of the Profile page
		-->

			<!-- Normal user -->
			<div data-ng-show="authentication.user.roles[0] === 'user'" class="list-group-item">
			<h3> Profile type: </h3> <h4 align="left">Employee</h4><br>
			</div>
			<!-- Super User -->
			<div data-ng-show="authentication.user.roles[0] === 'superuser'" class="list-group-item">
			<h3> Profile type: </h3> <h4 align="left">Administration</h4><br>
			</div>
			<!--finance user -->
			<div data-ng-show="authentication.user.roles[0] === 'finance'" class="list-group-item">
			<h3> Profile type: </h3> <h4 align="left">Finance Department</h4><br>
			</div>
			<!--Cafeteria Manager user -->
			<div data-ng-show="authentication.user.roles[0] === 'cafeteriaManager'" class="list-group-item">
			<h3> Profile type: </h3> <h4 align="left">Cafeteria Manager</h4><br>
			</div>
			<!--Casheir -->
			<div data-ng-show="authentication.user.roles[0] === 'cashier'" class="list-group-item">
			<h3> Profile type: </h3> <h4 align="left">Cashier</h4><br>
			</div>




 </div>



</section>
