<!--
*   profile Page - Cafeteria manager
*   - This document contains the profile page the whole CMS
*
*   Authors: T-RISE (COS 301 team 2015)
             		Antonia Michael (13014171)
                Isabel Nel (13070305)
							  Elana Kuun (12029522)
								Rendani Dau (13381467)
								Semaka Malapane (13081129)
*
-->

<section class="row" data-ng-controller="SettingsController">
<br><br>
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				<h1> Profile </h1>
			</p>
		</div>
	</div>


<!-- Displaying the user information -->
<div class="list-group" data-ng-controller="HeaderController">
	<a href="#" class="list-group-item disabled">
    Profile Information
  </a>
	<!-- First name and Last name -->
	<div class="list-group-item">
  <h1 align="left"> <span data-ng-bind="authentication.user.displayName"></span> </h1> <br>
</div>
	<!-- user name -->
	<div class="list-group-item">
	<h3> Employee ID: <h3> <h5 align="left"> <span data-ng-bind="authentication.user.username"></span> </h5><br>
	</div>
	<!-- e-mail adderss: -->
	<div class="list-group-item">
	<h3> E-mail address: <h3> <h5 align="left"> <span data-ng-bind="authentication.user.displayEmail"></span> </h5><br>
  </div>
	<!-- monthly bill e-mail adderss: -->
	<div class="list-group-item">
	<h3> Monthly bill will go to: <h3> <h5 align="left"> <span data-ng-bind="authentication.user.recipientEmailAddress"></span> </h5><br>
	</div>
	<!-- Limit: -->
	<div class="list-group-item">
	<h3> Limit per month: <h3> <h5 align="left"> R <span data-ng-bind="authentication.user.limit"></span> </h5><br>
	</div>
	<!-- Profile type: -->
	<div class="list-group-item">
	<h3> Profile type: <h3> <h5 align="left">Manager (Cafereria Manager) </h5><br>
	</div>


 </div>



</section>
